@model VD.Models.DiaDiem
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section naviheader{
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin/home" class="nav-link">Trang chủ</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin/QLDiaDiem" class="nav-link">Quản lý địa điểm</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="#" class="nav-link">Cập nhật</a>
        </li>
    </ul>
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Cập nhật địa điểm</h1>
            </div>
            @*<div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                        <li class="breadcrumb-item active">Quản lý địa điểm</li>
                    </ol>
                </div>*@
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Cập nhật thông tin địa điểm</h3>

            <div class="card-tools">
                @*<a href="/admin/QLDiaDiem/add" class="btn btn-primary">Thêm mới</a>*@
            </div>
        </div>
        <div class="card-body">
            <div class="bs-stepper-content">
                @using (Html.BeginForm("Edit", "QLDiaDiem", FormMethod.Post))
                {
                    @Html.HiddenFor(model=>model.ID_DD)
                    <!-- your steps content here -->
                    <div id="logins-part" class="content active dstepper-block" role="tabpanel" aria-labelledby="logins-part-trigger">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Tên địa điểm</label>
                            <input type="text" class="form-control" id="TenDD" name="TenDD" placeholder="Địa điểm" required>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Cấp</label>
                            @*<input type="text" class="form-control" id="CapDD" name="CapDD" placeholder="Cấp">*@
                            <select class="form-control" id="CapDD" name="CapDD" required>
                                <option value="Tỉnh">Tỉnh</option>
                                <option value="Thành phố">Thành phố</option>
                                <option value="Quận">Quận</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <a href="/Admin/QLDiaDiem" class="btn btn-danger">Quay lại</a>
                            <button type="submit" class="btn btn-primary">Cập nhật</button>
                        </div>
                    </div>
                }
            </div>
            <!-- /.card-body -->
            <div class="card-footer">

            </div>
            <!-- /.card-footer-->
        </div>
        <!-- /.card -->

</section>
<!-- /.content -->
